doctype html

//- To DO's 
//- Make sure all background images are blurred (dark over? rainbow over?)
//- Input signup and link boxes
//- Input app images

extends layout

block header
  link(rel='stylesheet', href='stylesheets/app-showcase.css')

block content
  ul.cb-slideshow
    li
      span Image 01
      div
        h3 Casual
    li
      span Image 02
      div
        h3 Friends
    li
      span Image 03
      div
        h3 Dates
    li
      span Image 04
      div
        h3 Work
    li
      span Image 05
      div
        h3 Shopping
    li
      span Image 06
      div
        h3 Holidays